In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib inline

In [2]:
data=pd.read_csv('heart.csv')
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [4]:
#all are int values
#checking fn to confirm about nan values
data.isnull().values.any()

False

In [5]:
np.random.seed(42)
data=data.sample(frac=1)

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 303 entries, 179 to 102
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 35.5 KB

In [7]:
data=data.reset_index()
data.head()

,index,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,179,57,1,0,150,276,0,0,112,1,0.6,1,1,1,0
1,228,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0
2,111,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
3,246,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
4,60,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1

In [8]:
data=data.drop('index',axis=1)

In [9]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [10]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,57,1,0,150,276,0,0,112,1,0.6,1,1,1,0
1,59,1,3,170,288,0,0,159,0,0.2,1,0,3,0
2,57,1,2,150,126,1,1,173,0,0.2,2,1,3,1
3,56,0,0,134,409,0,0,150,1,1.9,1,2,3,0
4,71,0,2,110,265,1,0,130,0,0.0,2,1,2,1

# converting data in np arrays

In [11]:
data_array=np.array(data)

In [12]:
data.shape

(303, 14)

In [13]:
X=data_array[:,0:13]

In [14]:
X.shape

(303, 13)

In [15]:
Y=data_array[:,13:]
print(Y.shape)

(303, 1)

In [16]:
X_test=np.append(X,np.ones((303,1)),axis=1)

In [17]:
print(X_test.shape)
print(X_test[0,0:14])

(303, 14)
[ 57.    1.    0.  150.  276.    0.    0.  112.    1.    0.6   1.    1.
   1.    1. ]

# standardising data

In [18]:
def standardise(num):
    mean_data=np.mean(num,axis=0)
    std_data=np.std(num,axis=0)
    D=(num-mean_data)/std_data
    
    print(mean_data)
    print(std_data)
    
    return D

In [19]:
temp=standardise(X)

[5.43663366e+01 6.83168317e-01 9.66996700e-01 1.31623762e+02
 2.46264026e+02 1.48514851e-01 5.28052805e-01 1.49646865e+02
 3.26732673e-01 1.03960396e+00 1.39933993e+00 7.29372937e-01
 2.31353135e+00]
[ 9.06710164  0.46524119  1.03034803 17.50917807 51.74515101  0.3556096
  0.52499112 22.86733258  0.46901859  1.15915747  0.61520843  1.0209175
  0.61126531]

In [20]:
standardise(temp)

[ 5.56943564e-17 -1.64151787e-16 -5.27630744e-17 -6.74194840e-16
 -9.81979441e-17 -3.22441010e-17  1.64151787e-16 -5.97981510e-16
 -8.20758936e-17  1.64151787e-16 -1.28976404e-16  2.34502553e-17
 -2.13983580e-16]
[1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1. 1.]

array([[ 0.29046364,  0.68100522, -0.93851463, ..., -0.64911323,
         0.26508221, -2.14887271],
       [ 0.5110413 ,  0.68100522,  1.97312292, ..., -0.64911323,
        -0.71442887,  1.12302895],
       [ 0.29046364,  0.68100522,  1.00257707, ...,  0.97635214,
         0.26508221,  1.12302895],
       ...,
       [ 1.61392956,  0.68100522,  1.97312292, ..., -0.64911323,
         0.26508221, -0.51292188],
       [-0.92271345,  0.68100522, -0.93851463, ...,  0.97635214,
        -0.71442887,  1.12302895],
       [ 0.9521966 , -1.46841752,  0.03203122, ...,  0.97635214,
         1.24459328, -0.51292188]])

In [21]:
X_test=np.append(temp,np.ones((303,1)),axis=1)
print(X_test.shape)

(303, 14)

In [22]:
print(temp[0:2])

[[ 0.29046364  0.68100522 -0.93851463  1.04952029  0.57466203 -0.41763453
  -1.00583187 -1.6463164   1.43548113 -0.37924438 -0.64911323  0.26508221
  -2.14887271]
 [ 0.5110413   0.68100522  1.97312292  2.19177836  0.80656782 -0.41763453
  -1.00583187  0.40901733 -0.69663055 -0.7243226  -0.64911323 -0.71442887
   1.12302895]]

# performing logistic regression

In [23]:
X_test=X_test.T

In [24]:
print(X_test.shape)

(14, 303)

In [25]:
Y=Y.T

In [26]:
print(Y.shape)

(1, 303)

In [27]:
W=np.ones((1,14))
print(W.shape)

(1, 14)

In [28]:
#bias=np.ones((1,303))
#bias=1

In [29]:
def z_function(w,x):
    z=np.dot(w,x)
    
    return z

In [30]:
def activate(value):
    A=1/(1+np.exp(-value))
    
    return A

In [31]:
activate(z_function(W,X_test)).shape

(1, 303)

In [32]:
def loss(y,y_hat):
    l=-((y*(np.log(y_hat+0.000001)))+((1-y)*(np.log(1-y_hat+0.000001))))
    l=np.sum(l)/Y.shape[1]
    return l

In [33]:
tempor_235=z_function(W,X_test)
tempor_678=activate(tempor_235)
loss(Y,tempor_678)

2.1701839607363707

In [34]:
def derivatives(y,y_hat,z,x):
    helper=((y*(1-y_hat))-((1-y)*(y_hat)))
    helper=-(helper)/y.shape[1]
    
    temp_dict={}
    for i in range(0,14):
        temp_dict['dw'+str(i)]=np.sum(helper*x[i])
        
        #temp_list.append(dw+str(i))
    
    return temp_dict

In [35]:
tempor_393=derivatives(Y,tempor_678,tempor_235,X_test)
print(tempor_393)

{'dw0': 0.2668751576572319, 'dw1': 0.24726961563066738, 'dw2': -0.16637360278057006, 'dw3': 0.2361652286112094, 'dw4': 0.16451473762192212, 'dw5': 0.13918069407902622, 'dw6': -0.02006569224744265, 'dw7': -0.20754389215879598, 'dw8': 0.3124453064510564, 'dw9': 0.3307882158201823, 'dw10': -0.15499664692010243, 'dw11': 0.36194593482555243, 'dw12': 0.3318668795199393, 'dw13': 0.04426863592905091}

In [36]:
def gradient_descent(w,x,y):
    Z=z_function(w,x)
    Y_hat=activate(Z)
    cost=loss(y,Y_hat)
    
    ders=derivatives(y,Y_hat,Z,x)
    
    dW=[]
    
    for i in range(0,14):
        dW.append(ders['dw'+str(i)])
    
    dW=np.array(dW,ndmin=2)
    alpha=0.0001
    
    w=w-(alpha*dW)
    
    update_param={
        'W_s':w,
        'c_s':cost
    }
    
    return update_param

In [37]:
def logit_regressor(w,x,y):
    
    tempor_list=[]
    
    for i in range(10001):
        
        grad=gradient_descent(w,x,y)
        
        w=grad['W_s']
        cost_present=grad['c_s']
        
        if i%1000==0:
            print(cost_present)
            tempor_list.append(cost_present)
            print(w)
            
    cache={
        'cost_list':tempor_list,
        'final_weights':w
    }
    
    return cache

In [38]:
code=logit_regressor(W,X_test,Y)

2.1701839607363707
[[0.99997331 0.99997527 1.00001664 0.99997638 0.99998355 0.99998608
  1.00000201 1.00002075 0.99996876 0.99996692 1.0000155  0.99996381
  0.99996681 0.99999557]]
2.09348156568186
[[0.97353935 0.97528778 1.01642256 0.97647517 0.98353934 0.98611392
  1.00187381 1.02041149 0.96899154 0.96718214 1.01519496 0.96398662
  0.96697818 0.99550609]]
2.0191907730486545
[[0.94762968 0.95069322 1.03235574 0.95321412 0.96712117 0.97233744
  1.00347725 1.04006181 0.93856359 0.93500617 1.02972214 0.92845867
  0.93440196 0.99089602]]
1.9473876248877269
[[0.92227101 0.926214   1.04780048 0.93020883 0.95074667 0.95866201
  1.00481405 1.05895079 0.90870783 0.90347181 1.04357832 0.89340328
  0.90226326 0.98617242]]
1.8781422198201967
[[0.89749004 0.90187395 1.06274101 0.9074762  0.93443383 0.94509219
  1.00588648 1.07705759 0.87944721 0.87261239 1.05674535 0.85884507
  0.87058715 0.98134246]]
1.811516426452521
[[0.87331286 0.87769794 1.07716174 0.88503419 0.91820099 0.93163175
  1.00669729 1.09436202 0.85080436 0.84246084 1.06920631 0.82480951
  0.83939827 0.97641328]]
1.7475611504568271
[[0.84976428 0.85371157 1.09104768 0.86290148 0.90206686 0.91828383
  1.00724963 1.11084523 0.82280136 0.81304848 1.08094633 0.79132229
  0.8087204  0.97139184]]
1.6863133730459254
[[0.82686696 0.8299407  1.10438492 0.84109698 0.88605049 0.90505115
  1.007547   1.12649048 0.79545925 0.78440359 1.0919534  0.7584085
  0.77857587 0.96628472]]
1.627793304331643
[[0.8046404  0.80641107 1.11716124 0.81963921 0.87017131 0.89193628
  1.00759307 1.141284   0.76879756 0.75654998 1.10221927 0.72609176
  0.74898494 0.96109806]]
1.5720020636772487
[[0.78310008 0.78314778 1.12936671 0.79854572 0.85444895 0.87894185
  1.00739164 1.15521594 0.7428337  0.7295057  1.11174017 0.69439327
  0.7199651  0.9558374 ]]
1.518920267831367
[[0.76225669 0.76017466 1.14099424 0.77783254 0.83890304 0.86607072
  1.00694656 1.16828111 0.71758232 0.70328215 1.12051733 0.66333106
  0.69153056 0.95050778]]

In [39]:
final_W=code['final_weights']

In [40]:
print(final_W)

[[0.76225669 0.76017466 1.14099424 0.77783254 0.83890304 0.86607072
  1.00694656 1.16828111 0.71758232 0.70328215 1.12051733 0.66333106
  0.69153056 0.95050778]]

In [41]:
#final_bias=code['bias_value']
#print(final_bias)

In [42]:
tempor3434=z_function(final_W,X_test)

In [43]:
Y_hat=activate(tempor3434)

In [44]:
print(Y_hat.shape)

(1, 303)

In [45]:
prob_list=[]
new_Y=[]
for i in range(303):
    if Y_hat[0][i]<0.5:
        prob_list.append(0)
    else:
        prob_list.append(1)
        
    new_Y.append(int(Y[0][i]))
        
print(len(prob_list))
print(len(new_Y))

303
303

In [46]:
temp=0
for i in range(303):
    if prob_list[i]!=new_Y[i]:
        temp=temp+1

In [47]:
print(temp/303)
print(temp)

0.5379537953795379
163

## hence 48% accuracy